body {
    background-color: #dadada;
}
body > .grid {
    height: 100%;
}
.column {
    max-width: 450px;
}
.topbar {
    padding: 8px;
}
.ui#content {
    padding-top: 55px;
}
.rightspace {
    margin-right: 10px;
}
#totalTime {
    font-weight: normal;
}
.ui.raised.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 15px;
    min-width: 300px;
    background-color: white;
}
div#maincard {
    width: 60%;
    height: 60%;
}
.content > h1 {
    font-size: 20vw;
}
#card-title {
    font-size: 6vw;
}
.content {
    text-align: center;
}
.ui.raised.card.active {
    background-color: white;
}
.ui.raised.card.ending {
    background-color: #f1ffa0;
}
.ui.raised.card.ended {
    background-color: #ffa6a0;
}
.ui.header {
    text-align: center;
}
.topmargin {
    margin-top: 40px !important;
}
.left-float {
    float: left;
}
.right-float {
    float: right;
}
.segment#buffer {
    background-color: transparent;
    box-shadow: none;
    border: none;
}
